{{ define "title"}}<title>Home</title>{{ end }}
{{ define "content" }}
<h1>
	Soup's Up!
</h1>

<ul>
{{range .Recipes}}
	<li><a href="{{ .Id | formatObjId}}">{{ .Name}}</a></li>
{{end}}
</ul>

<a href="/new" class="button">Add a Recipe</a>

{{ end }}




