{{ define "title"}}<title>Home</title>{{ end }}
{{ define "content" }}
<h1>
	Recipe List
</h1>

<ul>
{{range .Recipes}}
	<li><a href="/recipes/{{ .Id | formatObjId}}">{{ .Name}}</a></li>
{{end}}
</ul>

<a href="/recipes/new" class="button">Add a Recipe</a>

{{ end }}




