{{ define "title"}}<title>{{ .Recipe.Name}}</title>{{ end }}
{{ define "content" }}
<h1>
	{{ .Recipe.Name }}
</h1>
{{ if .Recipe.Source | isLink }}
	<a href="{{ .Recipe.Source }}">{{ .Recipe.Source }}</a>
{{ else }}
	<p>{{ .Recipe.Source }}</p>
{{ end }}
<h2>Ingredients</h2>
<ul>
	{{ .Recipe.Ingredients | formatList}}
</ul>

<h2>Instructions</h2>
<ol>
{{ .Recipe | boldIngredients | formatList}}
</ol>

<a href="/{{ .Recipe.Id | formatObjId}}/edit" class="button">Edit</a>
{{ end }}

