{{ define "title"}}<title>{{ .Recipe.Name}}</title>{{ end }}
{{ define "content" }}
<html>
	<h1>
		{{ .Recipe.Name }}
	</h1>
	<p>
		{{ .Recipe.Content }}
	</p>
	<a href="/{{ .Recipe.Id | formatObjId}}/edit" class="button">Edit</a>
</html>
{{ end }}

